* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  width: 100%;
  height: 800px;
  .background__image {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        287.08deg,
        #180345 20.26%,
        rgba(60, 31, 125, 0) 69.29%
      ),
      url("../../assets/images/Rectangle\ 15.png") no-repeat center center;
    background-size: cover;
  }
  .background__container {
    width: 80%;
  }
}

.background__text {
  padding-top: 535px;
  text-align: right;
  color: #fafafa;
  font-style: normal;
  .background__title {
    font-family: VazirMatnExtraBold;
    margin-bottom: 24px;
    font-size: 30px;
  }
  .background__passage {
    width: 494px;
    position: absolute;
    right: 0%;
    font-family: VazirMatnBold;
    margin-right: 10%;
    font-size: 20px;
  }
}
